@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    margin: 0px !important;
}

body{
    font-family: Roboto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button{
    border: 0px solid transparent;
    border-radius: 12px !important;
}

main, header, footer{
    overflow-x: hidden !important;
    width: 100%;
}

/*!Header*/

header{
    overflow: hidden;
    width: 1512px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
}

header .desktop-header{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .tablet-header{
    height: 0px;
    visibility: hidden;
}

header .tablet-header .search-section{
    visibility: hidden;
    height: 0px;
    margin-top: 20px;
}

header .left-header{
    display: flex;
    gap: 68px;
}

header .left-header .navbar-2{
    display: flex;
}

header .left-header .navbar-2 .hamburger-menu{
    display: flex;
    visibility: hidden;
    width: 0px;
    height: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5); 
}

header .left-header .navbar-2 .hamburger-menu i{
    color: var(--Black, #3E3232);
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
}

header .left-header .logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Secondary, #FC4308);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
}

header .left-header .menu-text{
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--Black, #3E3232);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

header .left-header .navbar{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 34px;
    margin-right: 70px;
}

header .left-header .navbar .menu-item{
    display: flex;
    gap: 2px;
}

header .left-header .navbar .menu-item img{
    height: 16px;
}

header .right-header{
    display: flex;
}

header .right-header .user-section{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 25px;
    margin-right: 50px;
}

header .right-header .user-section .slider{
    height: 16px;
}

header .right-header .user-section .profile{
    border-radius: 11px;
    width: 48px;
    height: 48px;
}

header .right-header .user-section .account-text{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

header .right-header .bookmark-section img{
    background-color: white;
    width: 48px;
    height: 48px;
}

header .search-section{
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 48px;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5);
}

header .search-section #ellipsis{
    color: var(--Black-75, rgba(62, 50, 50, 0.75));
    text-align: center;
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
}

header .search-section .search{
    color: var(--Black, #3E3232);
    text-align: center;
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
}

header .search-section .search-box{
    width: 287px;
}

header .search-section .search-box input{
    width: 280px;
    border: none;
    background: transparent;
    outline: none;
}

/*!Header End*/


/*!Main*/

main{
    padding-bottom: 100px;
    overflow: hidden;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .top-tags-tablet{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

main .top-tags{
    overflow: hidden;
    position: relative; 
    align-items: center;
    padding-left: 24px;
    height: 68px;
    width: 1512px;
    display: flex;
    gap: 24px;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5);
}

main .top-tags .hashtag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 48px;
    border-radius: 12px;
}

main .top-tags .hashtag  img{
    border-radius: 12px;
    filter: blur(0.09rem);
}

main .top-tags .hashtag  p{
    position: absolute;
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.40);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

main .top-tags .right-arrow{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0px;
    width: 150px;
    height: 68px;
    padding: 14px 0;
    border-radius: 12px;
    background: radial-gradient(200% 290% at 0% 50%, rgba(245, 245, 245, 0.00) 0%, rgba(245, 245, 245, 0.38) 0%, #F5F5F5 32.29%);
}

main .top-news-section{
    margin-top: 60px;
    display: flex;
    gap: 24px;
}

main .top-news-section img{
    border-radius: 12px;
    height: 452px;
    flex-shrink: 0;
    object-fit: cover;
}

main .top-news-section .car{
    width: 360px;
}

main .top-news-section .girl{
    width: 360px;
}

main .top-news-section .setup{
    width: 744px;
}

main .top-news-section .news, .news2, .news3{
    display: flex;
    align-items: end;
    position: relative;
}

main .top-news-section .content{
    overflow: hidden;
    position: absolute;
    height: 117px;
    margin: 0px 11px 10px 10px;
    padding: 16px;
    border-radius: 12px;
    background: var(--White-75, rgba(255, 255, 255, 0.75));
    backdrop-filter: blur(5px);
}

main .top-news-section .title{
    overflow: hidden;
    color: var(--Dark, #000);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
}

main .top-news-section .explanation{
    height: 40px;
    align-self: stretch;
    overflow: hidden;
    color: var(--Dark-75, rgba(0, 0, 0, 0.75));
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

main .popular-posts{
    width: 1512px;
    margin-top: 68.5px;
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}

.title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section .rectangle{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background: var(--Primary, #F81539);
}

.title-section .t1{
    color: var(--Black, #3E3232);
    font-family: Roboto;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

main .title-section .left-section{
    display: flex;
    align-items: center;
    gap: 6px;
}

main .title-section .right-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

main .title-section .right-section a{
    text-decoration: none;
}

main .title-section .right-section .background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #F5F5F5;
}

main .title-section .right-section i{
    font-family: Font Awesome 6 Free;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #3E323280;
}

main .title-section .right-section .next-pages i{
    color: #3E3232;
}

main .posts-section{
    padding: 20px 0px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 24px;
}
main .posts-section::-webkit-scrollbar{
    display: none;
}

main .posts-section #post{
    width: 360px;
    flex: none;
    height: 389px;
    padding: 10px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
}

main .posts-section img{
    width: 340px;
    height: 190px;
    border-radius: 12px;
}

main .posts-section .title{
    overflow: hidden;
    padding: 16px 16px 16px 6px;
    color: var(--Black, #3E3232);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

main .posts-section .t1{
    width: 328px;
    height: 40px;
    padding: 0px 16px 16px 6px;
    overflow: hidden;
    color: var(--Black-75, rgba(62, 50, 50, 0.75));
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

main .posts-section .info{
    display: flex;
    height: 72px;
    margin-top: 16px;
    padding: 13px 16px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5);
}

main .posts-section .info i{
    color: #3E323280;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

main .posts-section .info .content{
    display: flex;
    gap: 10px;
    height: 44px;
}

main .posts-section .info .content img{
    height: 44px;
    width: 44px;
}

main .posts-section .info .content .name-date-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
    width: 234px;
}

main .posts-section .info .content .name-date-section .name-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #3E3232;
    width: 234px;
    height: 22px;
}


main .posts-section .info .content .name-date-section .date-text{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #3E3232BF;
}

main .sports-widget{
    margin-top: 68.5px;
    display: flex;
}

main .sports-widget #phone, #tablet{
    width: 0px;
}

main .new-posts-section-phone{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

main .new-posts-section{
    width: 1512px;
    margin-top: 68.5px;
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}

main .new-posts-section .title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .new-posts-section .title-section .rectangle{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background: var(--Primary, #F81539);
}

main .new-posts-section .title-section .t1{
    color: var(--Black, #3E3232);
    font-family: Roboto;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

main .new-posts-section .title-section .left-section{
    display: flex;
    align-items: center;
    gap: 6px;
}

main .new-posts-section .title-section .right-section{
    display: flex;
    align-items: center;
}

main .new-posts-section .title-section .right-section a{
    text-decoration: none;
    color: #3E3232BF;
}

main .new-posts-section .title-section .right-section a p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #3E3232BF;
}

main .new-posts-section .title-section .right-section a i{
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #3E323280;
}

main .new-posts-section .title-section .right-section .background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 119px;
    height: 40px;
    padding: 10px, 16px, 10px, 24px;
    border-radius: 12px;
    gap: 8px;
    background: #F5F5F5;
}

main .new-posts-section .posts-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1512px;
    gap: 20px;
}

main .new-posts-section .posts-section #post{
    display: flex;
    width: 744px;
    height: 210px;
    padding: 10px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
}

main .new-posts-section .posts-section #post .right-section{
    display: flex;
    flex-direction: column;
}

main .new-posts-section .posts-section #post .right-section .section-1{
    width: 374px;
    height: 51px;
    padding: 16px, 16px, 16px, 6px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .new-posts-section .posts-section #post .right-section .section-2{
    width: 374px;
    height: 67px;
    padding: 0px, 16px, 26px, 6px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .new-posts-section .posts-section .left-section img{
    width: 340px;
    height: 190px;
    border-radius: 12px;
}

main .new-posts-section .posts-section .title{
    overflow: hidden;
    height: 51px;
    width: 362px;
    padding: 16px 16px 16px 6px;
    color: var(--Black, #3E3232);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

main .new-posts-section .posts-section .t1{
    width: 362px;
    height: 41px;
    padding: 0px 16px 26px 6px;
    overflow: hidden;
    color: var(--Black-75, rgba(62, 50, 50, 0.75));
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

main .new-posts-section .posts-section .info{
    display: flex;
    width: 374px;
    height: 72px;
    margin-top: 16px;
    padding: 13px 16px;
    flex-shrink: 0;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Gray, #F5F5F5);
}

main .new-posts-section .posts-section .info i{
    color: #3E323280;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

main .new-posts-section .posts-section .info .content{
    display: flex;
    gap: 10px;
    height: 44px;
}

main .new-posts-section .posts-section .info .content img{
    height: 44px;
    width: 44px;
    border-radius: 12px;
}

main .new-posts-section .posts-section .info .content .name-date-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
    width: 234px;
}

main .new-posts-section .posts-section .info .content .name-date-section .name-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #3E3232;
    width: 234px;
    height: 22px;
}


main .new-posts-section .posts-section .info .content .name-date-section .date-text{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #3E3232BF;
}

main .latest-videos-section{
    background-color: #F5F5F5;
    align-items: center;
    width: 1920px;
    display: flex;
    flex-direction: column;
    gap: 38.5px;
    margin-top: 68.5px;
    padding-top: 65px;
    padding-bottom: 65px;
}

main .latest-videos-section .header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 1512px;
}

main .latest-videos-section .header-section .rectangle{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background: var(--Primary, #F81539);
}

main .latest-videos-section .header-section .t1{
    color: var(--Black, #3E3232);
    font-family: Roboto;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

main .latest-videos-section .header-section .title-section{
    display: flex;
    align-items: center;
    gap: 6px;
}

main .latest-videos-section .header-section .arrow-slider{
    display: flex;
    align-items: center;
    gap: 20px;
}

main .latest-videos-section .header-section .arrow-slider a{
    text-decoration: none;
}

main .latest-videos-section .header-section .arrow-slider .background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #3E32320D;
}

main .latest-videos-section .header-section .arrow-slider i{
    font-family: Font Awesome 6 Free;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #3E323280;
}

main .latest-videos-section .header-section .arrow-slider .next-pages i{
    color: #3E3232;
}

main .latest-videos-section .tablet img{
    width: 0px;
    height: 0px;
}

main .video-posts-section{
    gap: 24px;
    display: flex;
}

main .video-posts-section .left-section{
    border-radius: 12px;
    position: relative;
}

main .video-posts-section .left-section #playbt{
    position: absolute;
    left: 312px;
    top: 150px;
    border-radius: 60px;
}

main .video-posts-section .left-section .content{
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    height: 117px;
    width: 724px;
    margin: 0px 11px 10px 10px;
    padding: 16px;
    border-radius: 12px;
    background: var(--White-75, rgba(255, 255, 255, 0.75));
    backdrop-filter: blur(5px);
}

main .video-posts-section .left-section .title{
    overflow: hidden;
    color: var(--Dark, #000);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
}

main .video-posts-section .left-section .explanation{
    height: 40px;
    align-self: stretch;
    overflow: hidden;
    color: var(--Dark-75, rgba(0, 0, 0, 0.75));
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
    text-transform: capitalize;
}

main .video-posts-section .right-section{
    overflow: hidden;
    position: relative;
    width: 744px;
    height: 444px;
}

main .video-posts-section .right-section .posts{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 444px;
    gap: 24px;
}

main .video-posts-section .right-section #post{
    display: flex;
    gap: 10px;
    width: 488px;
    height: 210px;
    padding: 10px;
    border-radius: 12px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px 0px #00000012;
}

main .video-posts-section .right-section #post .content .title{
    display: flex;
    align-items: center;
    width: 269px;
    height: 51px;
    padding: 16px, 16px, 16px, 6px;
}

main .video-posts-section .right-section #post .content .title p{
    overflow: hidden;
    width: 257px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #3E3232;
}

main .video-posts-section .right-section #post .content .explanation{
    width: 269px;
    height: 139px;
    padding: 0px, 16px, 16px, 6px;
    gap: 8px;
}

main .video-posts-section .right-section #post .content .explanation p{
    overflow: hidden;
    width: 247px;
    height: 123px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #3E3232BF;
}

main .video-posts-section .right-section .background{
    position: absolute;
    background: linear-gradient(270deg, #F5F5F5 5.21%, rgba(245, 245, 245, 0.3827) 64.58%, rgba(245, 245, 245, 0) 100%);
    width: 171px;
    height: 444px;
    right: 0px;
    top: 0px;
}


main .latest-videos-section .tablet img{
    width: 0px;
    height: 0px;
}
main .trendy-posts-section{
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

main .trendy-posts-section .trendy-posts{
    width: 1512px;
    margin-top: 68.5px;
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}


main .top-posts-section{
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

main .top-posts-section .top-posts{
    width: 1512px;
    margin-top: 68.5px;
    display: flex;
    flex-direction: column;
    gap: 38.5px;
}

main .weather{
    margin-top: 70px;
}

main .weather #tablet, .weather #phone{
    width: 0px;
    visibility: hidden;
}

/*!Main End*/

/*!Footer*/

footer{
    display: flex;
    justify-content: center;
    gap: 24px;
}

footer .left-section{
    padding: 40px 49px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #F5F5F5;
    width: 948px;
    height: 483px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

footer .news-categories-section{
    display: flex;
    gap: 152px;
}

footer .news-categories-section .mega-news{
    position: relative;
    width: 360px;
    height: 202px;
}

footer .news-categories-section .explanation{
    position: absolute;
    width: 350px;
    height: 159px;
    top: 43px;
    left: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: justified;
}

footer .news-categories-section .mega-news .title-section{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #3E3232BF;
}

footer .news-categories-section .categories{
    position: relative;
    width: 108px;
    height: 202px;
    margin-right: 75px;
}

footer .news-categories-section .categories .categories-buttons{
    position: absolute;
    top: 43px;
    left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

footer .news-categories-section .categories .categories-buttons a{
    width: 43px;
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #3E3232;
    text-decoration: none;
    text-wrap: nowrap;
}

footer .newsletters-section{
    margin-top: 31px;
    display: flex;
    gap: 113px;
    height: 91px;
}

footer .newsletters-section .newsletters{
    position: relative;
    width: 399px;
}

footer .newsletters-section .newsletters .title-section{
    position: absolute;
    top: 0px;
    left: 0px;
}

footer .newsletters-section .newsletters .email-input{
    position: absolute;
    top: 43px;
}

footer .newsletters-section .newsletters .email-input #email{
    width: 399px;
    height: 48px;
    border-radius: 12px;
}

footer .newsletters-section .newsletters .email-input #envelope{
    margin-left: -35px;
    z-index: 20;
    padding-right: 14px;
    border-radius: 12px;
    background: transparent;
}

footer .newsletters-section .social-network{
    position: relative;
    width: 183px;
}

footer .newsletters-section .social-network .title-section{
    position: absolute;
    top: 0px;
    left: 0px;
}

footer .newsletters-section .social-network .social-section{
    position: absolute;
    display: flex;
    gap: 15px;
    top: 43px;
    left: 0px;
}

footer .newsletters-section .social-network .social-section a img{
    border-radius: 12px;
}

footer .terms-section{
    margin-top: 31px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 48px;
    padding-right: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #3E32320D;
}

footer .terms-section .content{
    width: 692px;
    display: flex;
    justify-content: space-between;
}

footer .terms-section p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #3E3232BF;
}

footer .right-section{
    display: flex;
    gap: 24px;
    align-items: center;
    width: 948px;
}

footer .right-section .new-comments .comments{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .right-section .new-comments .comments .comment{
    background: #F5F5F5;
    width: 360px;
    height: 75px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .right-section .new-comments .comments .comment .name{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

footer .right-section .new-comments .comments .comment .name{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #3E3232;
}

footer .right-section .new-comments .comments .comment .content{
    font-size: 12px;
    font-weight: 400;
    width: 328px;
    height: 16px;
    line-height: 14px;
    overflow: hidden;
    color: #3E3232BF;
}

footer .right-section .follow-instagram{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    height: 403px;
}

footer .right-section .follow-instagram .images-section{
    width: 360px;
    height: 360px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

footer .right-section .follow-instagram .images-section img{
    width: 104px;
    height: 104px;
    border-radius: 12px;
    object-fit: cover;
}