/*!Header*/

header{
    width: 100%;
    padding-left: 9.4vh;
    padding-right: 9.4vh;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
    height: 190px;
    z-index: 999;
}

header .desktop-header{
    justify-content: center;
    gap: 120px;
}

header .left-header{
    width: 198px !important;
}

header .right-header .user-section{
    width: 134px !important;
}

header .left-header .navbar-2 .hamburger-menu{
    visibility: visible !important;
    width: 48px !important;
    height: 48px !important;
    margin-right: 30px;
}

header .tablet-header{
    visibility: visible !important;
}

header .tablet-header .search-section{
    visibility: visible !important;
    display: flex;
    height: 48px !important;
    width: 604px !important;
    justify-content: space-between;
    padding: 14px 16px !important;
} 

header .tablet-header .search-section .search-box{
    width: 500px !important;
}

header .tablet-header .search-section .search-box input{
    width: 500px !important;
}

header .left-header .navbar, .right-header .search-section, main .top-tags, main .top-news-section{
    visibility: hidden !important;
    width: 0px !important;
    height: 0px !important;
} 

header .desktop-header .left-header .navbar-2 .hamburger-menu .barsbody{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

header .desktop-header .left-header .navbar-2 .hamburger-menu .btn-secondary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 355px;
}

header .desktop-header .left-header .navbar-2 .hamburger-menu .barsbody .button1{
    margin-left: 12px;
}

/*!Header End*/

/*!Main*/

main .post-section .right-section{
    visibility: hidden;
    width: 0px !important;
    height: 0px;
}

main .post-section{
    justify-content: center;
    width: 604px;
}

main .post-section .left-section .post-header{
    height: 486px;
}

main .post-section .left-section .background{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

main .post-section .left-section .post-header .post-title{
    width: 600px;
}

main .post-section .left-section .post-header img{
    top: 150px;
    width: 604px;
    height: 336px;
}

main .path-section .content-text{
    text-wrap: nowrap;
    overflow-x: hidden;
}

main .post-section .left-section .bottom-content, .title-section, main .top-posts-section .top-posts, main .posts-section
, main .post-section .left-section, main .path-section, main .add-comment, main .add-comment .addcomment-form .footer-part .rating
  , main .add-comment .addcomment-form .input textarea, main .add-comment .addcomment-form .input input{
    width: 604px;
}

main .post-section .left-section .bottom-content .content .content-title{
    width: 472px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #3E3232;
}

main .post-section .left-section .bottom-content .image img{
    width: 491px;
    height: 273px;
}

main .post-section .left-section .comments .comments-section .comment1-reply{
    left: 20px;
    width: 563px;
}

main .add-comment .addcomment-form .body-part{
    flex-direction: column;
}

main .related-posts-section{
    margin-top: 350px;
}

main .add-comment .addcomment-form .footer-part{
    flex-direction: column;
    align-items: end;
}

/*!Main End*/

/*!Footer*/

footer .right-section{
    visibility: hidden;
    width: 0px;
}